@font-face {
font-family: Roubl;
src: url("../fonts/rouble.otf") format("opentype");
}

body {
	background: url('/img/back.jpeg') 50% 0% no-repeat;
	background-clip: border-box;
	background-size: cover;
}
.navbar {
	margin-top: 15px;
	box-shadow: 0 0 5px rgb(168, 168, 168);
}


.vardump {
	width: 80%;
	margin: auto;
	border-radius: 0;
	color: rgb(0, 255, 143);
	padding: 20px;
}
pre {
	background-color: rgb(39, 39, 39);
	border-bottom: 1px solid red;
	border-left: 1px solid red;
	border-right: 1px solid red;
	border-top: 0;
	opacity: 0.9;
}
.json-key {
	color: rgb(129, 230, 255);
}
.json-value {
	color: red;
}
.json-string {
	color: rgb(255, 245, 0);
}

#debug {
	background: rgb(236, 4, 4);
	height: 25px;
	line-height: 24px;
	width: 100px;
	text-align: center;
	margin: auto;
	border-radius: 0px 0px 10px 10px;
	font-weight: bold;
	color: white;
	box-shadow: 0 0 3px black;
	cursor: pointer;
}
#debug:hover {
	background: rgb(156, 0, 0);
}
.navbar {
    border: 1px solid white;
    box-shadow: 0 0 1px black;
}
#delUser {
    margin-right: 10px;
}

#addCarModal .control-label {
    font-size: 83%;
    line-height: 12px;
    margin-top: 3px;
}
#clearForm {
    margin-right: 10px;
}
.datepicker {
    z-index: 1500 !important;
}
.container {
    min-height: 200px;
}
#primary-display > .panel > .panel-body {
    max-height: 600px;
    overflow-y: overlay;
    background: rgb(190, 216, 255);
}
.gosnum {
    border: 1px solid rgb(94, 94, 94);
    padding: 0px 3px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(173, 173, 173);
    width: 100px;
    display: block;
    text-align: center;
    font-variant: small-caps;
    font-size: 110%;
    background: white;
    color: rgb(37, 37, 37);
}
.active-header {
    margin-right: 7px;
}
table.active > tbody > tr > td {
    padding: 6px 7px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid rgb(126, 178, 255);
}
table.active > tbody > tr:hover {
    background: rgb(255, 194, 0);
    color: black;
}
table.active > tbody > tr > td:hover {
    text-decoration: underline;
}
.rubl:after {
    content: "p";
    font-family: Roubl;
}